*,*::before,*::after{
	box-sizing: border-box;
}
body{
    font-family: $font;
    background-color: rgb(253, 255, 127);
}
.container{
    width: 1280px;
    max-width: 100%;
    border: 10px solid black;
}
.flex{
    display: flex;
    justify-content: space-around;
}